/*** Keyframes ***/

// *** Keyframes main.scss *** //

// Infos 

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-center {
	animation: scale-in-center 0.5s ease-in 3.1s;
} 

/*** explorer nos restaurants ***/


// button hover

@keyframes button-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button-hover {
	animation: button-hover 1.5s ease-in-out;
}

// *********************************************************************************

/*** Keyframes restaurants.scss ***/

/*** Menu card ***/

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
  }
}

.scale-in-hor-left {
	animation: scale-in-hor-left 0.6s ease-in forwards;
}

.scale-in-hor-left-2 {
	animation: scale-in-hor-left 0.6s ease-in forwards 1s;
}

.scale-in-hor-left-3 {
	animation: scale-in-hor-left 0.6s ease-in forwards 1.5s;
}
















