/*** Keyframes ***/

// main.scss 

@keyframes rotate-scale-up-hor {
    0% {
      transform: scale(1) rotateX(0);
    }
    50% {
      transform: scale(1.5) rotateX(-180deg);
    }
    100% {
      transform: scale(1) rotateX(-360deg);
    }
}
  
.rotate-scale-up-hor {
    animation: rotate-scale-up-hor 0.65s ease-in-out both;
}

// contener news

@keyframes slide-bck-center {
    0% {
      transform: translateZ(0);
    }
    100% {
      transform: translateZ(-400px);
    }
}

.slide-bck-center {
	animation: slide-bck-center 1s linear infinite ;
}