
@import 'variables';

//************ loader page ************//

.loader-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: -10;
    animation: loader-after-before 4s;
    position: fixed;

    .loader-container {
        text-align: center;
        padding: 20px;

        & img {
            max-width: 100%;
            height: auto;
        }

        & .loader-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px; 
            font-size: 25px;
            color: #89C8FA;
            text-align: center;
            padding: 10px;
        }
    }

    .loader-point {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .loader-dot {
            width: 10px;
            height: 10px;
            background: $color-loader;
            border: 2px solid $tertiary-color;
            border-radius: 50%;
            animation: bounce 0.5s infinite;
            margin: 0 5px;
        }
    }

    .progress-bar {
        width: 250px;
        height: 20px;
        border: 5px solid $tertiary-color;
        border-radius: 15px;
        background-color: #003A68;
        margin-top: 20px;
        position: relative;

        .progress {
            width: 0%;
            height: 100%;
            border-radius: 15px;
            background: $color-loader; 
            
            animation: fillProgress 3s linear forwards;
        }
    }
}

/*** Keyframe  ***/

@keyframes loader-after-before {
    0% {
        opacity: 1;
        z-index: 9999;
    }
    75% {
        opacity: 1;
        z-index: 9999;
    }
    100% {
        opacity: 0;
        z-index: -10;
    }

}



@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


@keyframes fillProgress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

// *** media desktop ***//

@media (min-width: 1024px) {
    .loader-page{
        .progress-bar {
            width: 750px;
        }
    }
}