/*** colors ***/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey: #353535;


/*** button ***/

$color-news: #008766;
$color-txt-button: #FFFFFF;
$color-linear-button: linear-gradient(#FF79DA, #9356DC);


/*** Icons ***/

$color-linear-icon: linear-gradient(#9356DC, #FF79DA);




