/*** colors ***/

// general

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$grey: #353535;

// button

$color-news: #008766;
$color-button: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
$color-txt-button: #FFFFFF;

// button hover

$color-button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);

/*** Icons ***/





