@import 'variables';

@import 'layout' ;


body {
    margin: 0;
}

/*** Header ***/

.en-tete {
    background-color: #EAEAEA;
}

//  header title 

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    background: #FFF;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    
    .title__logo {
        height: 36px;
        padding: 14px 0 13px 0;
        font-family: Shrikhand, sans-serif;
        font-size: 30px;
        font-weight: 400;
    }
}

// header Location 

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 1.5px;
    gap: 17px;
    background-color: #EAEAEA;

    & label {
        display: none;
    }

    .location__icons{
        color: $grey;
    }

    .location__city {
        margin: 0;
        border: none;
        background-color: #EAEAEA;

        &::placeholder {
            color: $grey;
            background-color: #EAEAEA;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal; 
            text-align: left;
            opacity: 1;
        }
    }
}

/*** info ***/

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    text-align: center;

    // info menu

    .infos__menu {
        width: 275px;
        margin: 0;
        padding-top: 39px;
        color: #000;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
    }

    //info restaurants

    .infos__restaurant {
        width: 315px;
        margin: 0;
        color:$grey;
        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

// Button info

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px 0 57px 0;

    .button__recherche {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: $color-button;
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        transition: background 4s ease-in-out;

        &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }
    }

    .button__link {
        text-decoration: none;
    }

    .button__txt{
        color: $color-txt-button;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
}

/*** Functioning ***/

.functioning {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;

    // title

    .functioning__title {
        align-items: flex-start;
        padding: 48px 0 26px 20px;
        margin: 0;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

// menu fonctionnement

.tuto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .tuto__order {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        background: $primary-color;
        border-radius: 12px;
        color: $color-txt-button;
        align-self: center;
        position: absolute;
        left: -12px; 
    }
    
    // tuto

    .tuto__1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 20px;
        background: #F6F6F6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        gap: 27px;
        width: 80%;
        position: relative;

        // couleur des icones

        .tuto__1--grey  {
            color: #7E7E7E;
        }
        
        .tuto__1--purpel {
            color: $primary-color;
        }
    }
}

/*** Restaurants ***/

.list-of-restaurants {
    padding-top: 54px;
}

.restaurants {
    background: #F6F6F6;
    height: auto;
    padding-bottom: 66px;

    .restaurants__title {
        align-items: flex-start;
        padding: 48px 0 26px 20px;
        margin: 0;
        font-family: Roboto, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

// Card restaurants

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    line-height: normal;
    position: relative;

    // element nouveau

    &:nth-child(-n + 2) {
        span {
            position: absolute;
            top: 13px; 
            right: 12px; 
            background-color: $tertiary-color;
            color: $color-news;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
            padding: 7px 9px 6px 9px;
            border-radius: 2px;
            font-family: Roboto, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
        }
    }

    //title

    .card__title {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        padding-top: 16px;
    }

    // location

    .card__subtile {
        margin: 0;
        font-size: 17px;
        font-weight: 300;
    }
}

.card img {
    object-fit: cover;
    object-position: center;
}

// Restaurants card

.restaurants-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    padding: 0 17px 0 17px;
    gap: 18px;

    & .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 251px;
    }

    & img {
        width: 100%;
        height: 70%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 13px;

    & .card__subtile{
        grid-row: 2;
    }

    & a {
        text-decoration: none;
        color: #000;
    }
}

//ajout de l'icone like

.fa-heart {
    color: #101010;
    bottom: 33px; 
    right: 25px; 
    width: 22px;
    height: 21px;
    transition: background-color 1s ease-in-out;

    &:hover {
        background-color: blue;
    }
}

/*** Footer ***/

// footer 

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px;
    gap: 16px;
    background: $grey;

        // logo
        
        .footer__logo {
            width: 139px;
            height: 27px;
            filter: invert(1);
            font-family: Shrikhand, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
        }

        // link

        .footer__link {
            display: flex;
            flex-direction: column;
            width: 70%;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            gap: 7px;
        }

        // style icon

        .footer__link i {
            margin-right: 11px;
            width: 11px;
            height: 13px;

            &::before {
                width: 11px;
                height: 13px;
                font-size: small;
            }
        }

        // style link

        .footer__link a {
            text-decoration: none;
            color: #FFF;
            gap: 11px;
            height: 19px;
        }
}

/*** Media querry desktop and tablette ***/

@media (min-width: 768px) {
    
    /*** header location ***/

    .title {
        height: 96px;
    }

    .location {
        margin-top: 0;
    }

    /*** infos ***/

    .infos {
        padding: 30px 0;
        gap: 18px;

        .infos__menu {
            width: auto;
            font-size: 40px;
            padding-top: 0;
        }

        .infos__restaurant {
            width: 531px;
        }
    }

    // infos button
    
    .button {
        margin: 0;
    }

    /*** Fonctionning ***/

    .functioning {
        padding: 50px 180px;
        margin-bottom: 0;
        gap: 25px;
    
        .functioning__title {
            padding: 0;
        }
    }

    // Etapes

    .tuto {
        flex-direction: row;
        justify-content: flex-start;

        .tuto__1  {
            height: 72px;
            align-items: center;
        }
    }

    /*** Restaurants ***/

    .list-of-restaurants {
        padding-top: 0;
        padding: 0 180px;
    }
    
    .restaurants {
        padding-bottom: 0;
        padding-top: 30px;
    
        .restaurants__title {
            padding: 0;
            margin-bottom: 28px;
            font-family: Roboto, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    // Restaurants card

    .restaurants-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        gap: 50px;

        & .card {
            display: flex;
            flex-direction: column;
            width: 40%;
        }
    
        & img {
            width: 100%;
            height: 70%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }

    /*** Footer ***/

    .footer {
        flex-direction: row-reverse;
        align-items: flex-end;
        padding: 30px 25px;
        height: 114px;

        // link

        .footer__link {
            flex-direction: row;
            align-items: flex-start;
            font-weight: 400;
        }
    }
}









