/*** colors ***/
/*** button ***/
/*** Icons ***/
body {
  margin: 0;
}

/*** Header ***/
header {
  background-color: #EAEAEA;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  background: #FFF;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.title .title__logo {
  height: 36px;
  padding: 14px 0 13px 0;
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 1.5px;
  gap: 17px;
  background-color: #EAEAEA;
}
.location .location__icons {
  color: #353535;
}
.location .location__city {
  margin: 0;
  color: #353535;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

/*** info ***/
.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  text-align: center;
}
.infos .infos__menu {
  width: 275px;
  margin: 0;
  padding-top: 39px;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.infos .infos__restaurant {
  width: 315px;
  margin: 0;
  color: #353535;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 0 57px 0;
}
.button .button__recherche {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.button .button__recherche:hover {
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.button .button__link {
  text-decoration: none;
}
.button .button__txt {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*** Functioning ***/
.functioning {
  display: flex;
  flex-direction: column;
  margin-bottom: 68px;
}
.functioning .functioning__title {
  align-items: flex-start;
  padding: 48px 0 26px 20px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tuto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.tuto .tuto__order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 12px;
  color: #FFFFFF;
  align-self: center;
  position: absolute;
  left: -12px;
}
.tuto .tuto__1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 27px;
  width: 80%;
  position: relative;
}
.tuto .tuto__1 .tuto__1--grey {
  color: #7E7E7E;
}
.tuto .tuto__1 .tuto__1--purpel {
  color: #9356DC;
}

/*** Restaurants ***/
.list-of-restaurants {
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

.restaurants {
  background: #F6F6F6;
  height: auto;
}
.restaurants .restaurants__title {
  align-items: flex-start;
  padding: 48px 0 26px 20px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*** Card ***/
.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  color: #000;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}
.card .card__title {
  font-size: 18px;
  font-weight: 700;
}
.card .card__subtile {
  font-size: 17px;
  font-weight: 300;
}

.card img {
  object-fit: cover;
  object-position: bottom;
}

.restaurants-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 0 17px 0 17px;
  margin-bottom: 66px;
}

.restaurants__link {
  text-decoration: none;
  color: #000;
}

.restaurants-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  width: 100%;
  height: 251px;
  position: relative;
}

.restaurants-cards img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants-cards .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.restaurants-cards .card-title {
  margin: 0;
  padding: 16px 0 0 13px;
}

.restaurants-cards .card-subtitle {
  margin: 0;
  padding: 5px 80px 12px 13px;
}

.restaurants-cards a:nth-child(-n+2) .card::before {
  content: "Nouveau";
  position: absolute;
  top: 13px;
  right: 12px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 7px 9px 6px 9px;
  border-radius: 2px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.fa-heart {
  position: absolute;
  color: #101010;
  bottom: 33px;
  right: 25px;
  width: 22px;
  height: 21px;
}

/*** Footer ***/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 16px;
  background: #353535;
}
.footer .footer__logo {
  width: 138px;
  height: 27px;
  filter: invert(1);
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.footer .footer__link {
  display: flex;
  flex-direction: column;
  width: 70%;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  gap: 7px;
}
.footer .footer__link i {
  margin-right: 11px;
  width: 11px;
  height: 13px;
}
.footer .footer__link a {
  text-decoration: none;
  color: #FFF;
  gap: 11px;
  height: 19px;
}

/*# sourceMappingURL=style.css.map */
